.homepage-header{
	font-family:'Love Ya Like A Sister';
	font-size: 60px;
	text-align: center;
	height:100px;
	float:right;
	width:100%;
	margin-top: 10px;
	margin-bottom: 0px;
}
.sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}
.footer {
	display: block;
	text-align: center;
	padding: 1em;
	margin-top: 150;
	margin: 0 auto;
}

.homepage-navbar{
	font-family:'Love Ya Like A Sister';
	font-size:18px;
	float:right;
	text-align:center;
	padding:14px 16px;
    top:80px;
}

.jumbotron {
	padding-top:40px;
	padding-bottom:80px;
	background: center center;
	height:600px;
	width:90%

}
.row{
		font-size:26px;
		font-family:'Love Ya Like A Sister';
   	bottom:0;
   	width:100%;
   	height:60px;
  	 right: 0;
  	left: 0;
  	padding: 1rem;
	line-height:2em;
	color:black;
}
h1:after {
	content:'';
	display:block;
	border:2px solid #d0d0d0;
}

.thumbnail {
    position: relative;
}

.caption {
	font-size:26px;
	clear: both;
	position:relative;
	text-align: center;
	top:30;
	left:150;
}
.each-photo {
	margin-bottom: 80px;
}

.maindiv {
  margin-top: 10px;
  padding-bottom: 50px; 
} 


.GridPhoto {
	position: relative;
    width: 50%;
	/*display:inline-block;*/
	float: left;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.text {
  background-color: rgba(71, 186, 193, 0.9);
  color: white;
  margin:0 auto;
  font-size: 26px;
  padding: 16px 32px;
  white-space: nowrap;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.GridPhoto:hover img {
  opacity: 0.3;
}
.GridPhoto:hover .middle{
  opacity: 1;
}

.table {
margin-left:-5%;
}
.cart {
	background-color: #47bac1;
	height:55px;
	border-right:1px solid rgba(255, 255, 255, 0.2)
}

#close {
	margin-left:50;
	background-color: rgba(71, 186, 193, 0.9);
}

.description{
		font-size:20px;
   	bottom:0;
   	width:100%;
   	height:60px;
  	 right: 0;
  	left: 0;
  	padding: 1rem;
	line-height:2em;
	color:black;
}

.form-group {
	width:50%;
	margin-top:35%;
}

#genrealbum col-xs-4:hover img{
	opacity:0.5;
}
.middle-sm {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.col-xs-4:hover .middle-sm{
  opacity: 1;
}

.star{
	overflow:hidden;
	height: 20px;
	margin-top:20px
}
.fa-star{
	width: 20px;
	height: 20px;
	color: #e2ad0a;
}
